@font-face{
	font-family:'General Sans';
	src:url('fonts/GeneralSans-Variable.woff2') format('woff2');
	font-stretch: 50% 150%;
	font-weight: 100 900;
}

body{
	font-family:'General Sans';
	margin: 20;
	font-size: 16px;
}


.flex-container {
  display: flex;
  flex-direction:row;
 }

     
.box1 {

	background-color: black;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box2 {

	background-color: red;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box3 {

	background-color: salmon;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box4 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box5 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box6 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box7 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box8 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box9 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box10 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box11 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box12 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box13 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box14 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box15 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box16 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box17 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}


.box18 {

	background-color: cornflowerblue;
	text-align: center;
	color: white;
	width: 60px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}



