@font-face{
	font-family:'General Sans';
	src:url('fonts/GeneralSans-Variable.woff2') format('woff2');
	font-stretch: 50% 150%;
	font-weight: 100 900;
}

body{
	font-family:'General Sans';
	margin: 0;
	font-size: 16px;
}